*{
	margin: 0;
}
body{
	font-family: Open Sans, sans-serif;
}

.root{
	display: grid;
}

.bodycon{
	padding: 20px;
	margin: 20px;
	margin-left: 130px;
}
.nav{
	height: 100px;
	background: black;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-items: center;
	align-items: center;
	
}
.boxlogo{
	
	border-right: 2px solid red;
	width: 200px;
	color: white;
	margin-left: -160px;
}
.boxlogo img{
	
	max-width: 320px;
}
.boxlinks a{
	margin-left: 60px;
	text-decoration: none;
	color: white;
	font-size: 16px;
	font-weight: 700;
	
}

.boxiconos a{
	color: white;
	text-decoration: none;
}
.boxes img{
	min-width: 350px;
	max-width: 350px;
}
.productos{
	
	margin-top: 40px;
	display: grid;
	grid-column-gap: 2px;
	grid-row-gap: 40px;
	grid-template-columns: 1fr 1fr 1fr;
	justify-content: center;
	justify-items: center;
}
.boxes{
	padding: 20px;
	justify-items: center;
	text-align: center;
	display: grid;
	grid-template-rows: 170px 30px 30px 30px;
}
form input{
	display: block;
}
.boxes h3{
	margin-top: 5px;
	color: gold;
	font-size: 14px;
	text-align: left;
	
}
.boxes p{
	font-family: Roboto, sans-serif;
	font-weight: bold;
	text-align: left;
	margin-top: 10px;
}
.addbuton{
	text-align: center;
	background: white;
	border-radius: 10px;
	border: 1px solid grey;
	font-family: Arial, sans-serif;
	color: grey;
	padding: 6px;
}
.addtag{
	margin-top: 30px;
	text-align: center;
	background: #28a745;
	display: inline-block;
	font-size: 18px;
	width: 120px;
	padding: 5px;
	
	text-decoration: none;
	color: white;
}
